* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(ellipse at top, #47b073, transparent), radial-gradient(ellipse at bottom, #713594, transparent);
}

.wrapper {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6% auto;
}

input {
  display: none;
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .4);
}

.slider-wrapper {
  display: flex;
  width: 400%;
  transition: all .5s;
}

.img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  background-size: 100% 100%;
}

.slider-text {
  margin-top: 20px;
  width: 300px;
  height: 70px;
  overflow: hidden;
}

.text-wrapper {
  width: 400%;
  display: flex;
  transition: all .5s;
}

.text {
  width: 100%;
  font-family: 'Arial';
  font-size: 1em;
  color: #fff;
}

.slider-button {
  margin-top: 20px;
  display: flex;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

span {
  display: flex;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(7, 197, 168);
}

label:hover span {
  background-color: #fff;
}

.img1 {
  background-image: url("./assets/r_2282255_FtUFU.jpg");
}
.img2 {
  background-image: url("./assets/r_2282255_FtUFU.jpg");
}
.img3 {
  background-image: url("./assets/r_2282255_FtUFU.jpg");
}
.img4 {
  background-image: url("./assets/r_2282255_FtUFU.jpg");
}
.img5 {
  background-image: url("./assets/r_2282255_FtUFU.jpg");
}