html {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at top, #47b073, transparent), radial-gradient(ellipse at bottom, #713594, transparent);
}

.wrapper {
  width: 43.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6% auto;
}

input {
  display: none;
}

.slider {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  box-shadow: 0.125rem 0.125rem 1rem rgba(0, 0, 0, .4);
}

.slider-wrapper {
  display: flex;
  width: 400%;
  transition: all .5s;
}

.img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  background-size: 100% 100%;
}

.slider-text {
  margin-top: 1.25rem;
  width: 18.75rem;
  height: 4.375rem;
  overflow: hidden;
}

.text-wrapper {
  width: 400%;
  display: flex;
  transition: all .5s;
}

.text {
  width: 100%;
  font-family: 'Arial';
  font-size: 1em;
  color: #fff;
}

.slider-button {
  margin-top: 1.25rem;
  display: flex;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

span {
  display: flex;
  box-sizing: border-box;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: rgb(7, 197, 168);
}

label:hover span {
  background-color: #fff;
}

.img1 {
  background-image: url("./assets/meme1.jpeg");
}
.img2 {
  background-image: url("./assets/meme2.jpeg");
}
.img3 {
  background-image: url("./assets/meme3.jpeg");
}
.img4 {
  background-image: url("./assets/meme4.png");
}

/* Добавление перелистывания слайдов */
#slide1:checked ~ .slider .slider-wrapper {
  margin-left: 0;
}
#slide2:checked ~ .slider .slider-wrapper {
  margin-left: -100%;
}
#slide3:checked ~ .slider .slider-wrapper {
  margin-left: -200%;
}
#slide4:checked ~ .slider .slider-wrapper {
  margin-left: -300%;
}

/* Добавление перелистывания текста */
#slide1:checked ~ .slider-text .text-wrapper {
  margin-left: 0;
}
#slide2:checked ~ .slider-text .text-wrapper {
  margin-left: -100%;
}
#slide3:checked ~ .slider-text .text-wrapper {
  margin-left: -200%;
}
#slide4:checked ~ .slider-text .text-wrapper {
  margin-left: -300%;
}

#slide1:active ~ .slider-button .label1 span:hover,
#slide2:active ~ .slider-button .label2 span:hover,
#slide3:active ~ .slider-button .label3 span:hover,
#slide4:active ~ .slider-button .label4 span:hover {
  background-color: rgb(207, 206, 206);
}

#slide1:checked ~ .slider-button .label1 span,
#slide2:checked ~ .slider-button .label2 span,
#slide3:checked ~ .slider-button .label3 span,
#slide4:checked ~ .slider-button .label4 span {
  background: transparent;
  border: 0.125rem solid rgb(7, 197, 168);
}

#slide1:checked ~ .slider-button .label1:hover span,
#slide2:checked ~ .slider-button .label2:hover span,
#slide3:checked ~ .slider-button .label3:hover span,
#slide4:checked ~ .slider-button .label4:hover span {
  border-color: #fff;
}