* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(ellipse at top, #47b073, transparent), radial-gradient(ellipse at bottom, #713594, transparent);
}

.wrapper {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6% auto;
}

input {
  display: none;
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .4);
}

.slider-wrapper {
  display: flex;
  width: 400%;
  transition: all .5s;
}